<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.telephony"
        android:required="false"
        />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FruitStore"
        android:networkSecurityConfig="@xml/network_config"
        tools:targetApi="31">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5IIJSfEyA3TaNddLysfPo7q906g8srLf"
            />
        <service android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <activity
            android:name=".activity.ActivityMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ActivityLogin"
            android:launchMode="singleInstance"
            android:exported="true">

        </activity>
        <activity android:name=".activity.ActivityUser"
            android:exported="true"
            />
        <activity android:name=".activity.ActivityGood"/>
        <activity android:name="com.example.fruitstore.activity.ActivityCart"
            android:exported="true">

        </activity>
        <activity android:name=".activity.ActivityCharge"
            android:exported="true">

        </activity>
        <activity android:name=".activity.ActivityLocation"
            android:exported="true">

        </activity>
        <activity android:name=".activity.Activity_store"
            android:exported="true">

        </activity>



    </application>


</manifest>